# Pocketbase
PB_URL=http://127.0.0.1:8090
PB_EXECUTABLE=./pocketbase
PB_SUPERUSER_EMAIL=admin@mail.com
PB_SUPERUSER_PASSWORD=changeme1234

# Scraping
INDEED_BASE_URL=https://fr.indeed.com
HEADLESS=true
MAX_PAGES=10
FETCH_DETAILS=true
MIN_DELAY=2.0
MAX_DELAY=5.0

# Scheduler
SCRAPE_INTERVAL_HOURS=24
